body {
  background-image: url(../assets/images/2.jpg);
  opacity: 1;
  background-size: cover;
}

input[type="text"],
select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
}

input[type="checkbox"],
select {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.budget-bar {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 40%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.travel-bar {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 40%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
}

label.locationlabel {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, sans-serif;
}

.selections {
  display: block;
  text-align: center;
}

label.interests {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: Arial, sans-serif;
}

label.budget {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: Arial, sans-serif;
}

label.distance {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: Arial, sans-serif;
}

.invalid-address-warning {
  display: block;
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
  font-family: Arial, sans-serif;
  color: red;
}

.calendar-table {
  display:none;
}

.calendar-time {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: Arial, sans-serif;
}

.drp-selected {
  display:none;
}

.hourselect, .minuteselect {
  width: 70px;
}

.ampmselect {
  width: 70px;
}

#daterange-label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: Arial, sans-serif;
}

label {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.box {
  margin: auto;
  padding: 10px;
  width: 60%;
  border: 5px solid #3b3737;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: rgba(211, 211, 211, 0.5);
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}


.locationlabel {
  color: white;
}
.invalid-address-warning {
  color: red;
  font-size: 0.8rem;
  display: none;
}
.address-suggestion {
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin: 0.1rem 0;
  width: 700px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
.address-suggestion:hover {
  background-color: #e8e8e8;
}
.event {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
#event-container,
#selected-event,
#travel-info {
  margin: 1rem;
}
